<title>Chat</title>

<!-- Vorgegeben -->




<!-- Body -->

<div>
    <h1>Chat with Tom</h1>
</div>
<div>
    <a (click)="goBack()">Back</a>
    |
    <a (click)="toProfile()">Profile</a>
    |
    <a (click)="friendRemove()" class="rmvchat">Remove Friend</a>

</div>

<div class="horizontal_dotted_line"></div>

<fieldset class="fschat">
    <div #messagesDiv *ngFor="let msgs of msglist">
        <!-- hier kommen die Nachrichten rein -->
        <span>{{ msgs.from }}: </span> <br *ngIf="isTwolined"><span>{{ msgs.msg }}</span> <span class="timechat">{{ msgs.time | date:'short' }}</span>
    </div>
</fieldset>

<div class="horizontal_dotted_line"></div>

<div>
    <form #chatForm="ngForm">
        <input type="text" name="message" placeholder="New Message"  [(ngModel)]="message" class="msgchat">
        <button type="button" (click)="sendMsg()" class="buttonchat">Send</button>
    </form>
</div>
