<title>Settings</title>

<!-- Body -->
<h1>Profile Settings</h1>
<form>
    <fieldset class="field">
        <legend>Base Data</legend>  
    <div>
        <div class="basedata"><label for="name"> First Name</label>  <input [(ngModel)]="firstname" class="input" id="name" type="text" name="first" placeholder="Your name"></div>
        <div class="basedata"><label for="lastname">Last Name</label> <input [(ngModel)]="lastname" class="input" id="lastname" type="text" name="last" placeholder="Your surname"></div>
        <div class="basedata">
        Coffee or Tea? 
    <select [(ngModel)]="coffeeOrTea" class="input" id="select" name="CoT">
        <option [ngValue]="1" [selected]="coffeeOrTea == '1'">Coffee</option>
        <option [ngValue]="2" [selected]="coffeeOrTea == '2'">Tea</option>
        <option [ngValue]="3" [selected]="coffeeOrTea == '3'">Neither nor</option>
    </select></div>
    </div>
    </fieldset>

    <fieldset class="field" id="tsay">
        <legend>Tell Something About You</legend>
        <div>
            <textarea name="about" #about="ngModel" [(ngModel)]="aboutText" row="5" id="comment" placeholder="Leave a comment here"></textarea>
        </div>
    </fieldset>
    
    <fieldset class="field">
        <legend>Prefered Chat Layout</legend>
    <div>
        
        <input  type="radio" value="1" name="chatL" [ngModel]="chatLayout" (click)="setLayoutOnelined()" id="opt1"><label for="opt1">Username and message in one line</label>
        <br>
        <input  type="radio" value="2" name="chatL" [ngModel]="chatLayout" (click)="setLayoutOnelined()" id="opt2"><label for="opt2">Username and message in separated lines</label>
        
    </div>
    </fieldset>
    <a [routerLink]="['/friends']">
        <button class="cancel" type="button">Cancel</button>
    </a>
    <button (click)="submitSettings()" class="save" type="button">Save</button>

</form>
