<title>Friends</title>

<!-- Body -->
<h1> {{ currentUser }} </h1>
<a [routerLink]="['/logout']"> &lt; Logout</a> |
<a [routerLink]="['/settings']"> Settings</a> <br>
<div class="horizontal_dotted_line"></div> <br>
<div>
    <!-- Freundesliste -->
    <fieldset class="fsfriends">
        <ul class="listfriends">

            <p *ngFor="let friend of friendsArray" class="pfriends">
                <li> <a [routerLink]="['/chat']"> {{ friend.username }}
                        <span class="listspanfriend">
                            {{ friend.unreadMessages }} </span> </a> </li>
            </p>
            <!-- hinzugefügte Freunde-->
            <p *ngFor="let friend for friendsArray" class="pfriends">
                <li> <a [routerLink]="['/chat']">
                        {{ friend.username }} <span class="listspanfriend">
                            {{ friend.unreadMessages }} </span> </a> </li>
            </p>
        </ul>
    </fieldset>
</div>
<br>
<div class="horizontal_dotted_line"></div>

<!-- Freundesanfragen -->
<h2>New Requests</h2>

<ol style="list-style-type:decimal">
    <!-- ersetzen durch Anfragen-->
    <li *ngFor="let friend of requestList"> <a [hidden]="addedDeclined == true" id="lifriends">Friend request from <span
                id="spanfriends"> {{ friend.username }} </span> </a>
        <button class="acceptDeclineButton" type="submit" click="acceptFriend()"> Accept </button>
        <button class="acceptDeclineButton" type="submit" click="declineFriend()"> Decline </button>
    </li>
</ol>
<div class="horizontal_dotted_line"></div>

<!-- Freund hinzufügen -->
<form action="">
    <div>
        <input type="text" id="addfriend" list="namen" placeholder="Add friend to List">
        <datalist id="namen"></datalist>
        <Button id="addbutton" onsubmit="addFriendButton()">Add</Button>
    </div>
</form>