<title>Friends</title>

<!-- Body -->
<h1> {{ currentUser }} </h1>
<a [routerLink]="['/logout']"> &lt; Logout</a> |
<a [routerLink]="['/settings']" > Settings</a> <br>
<div class="horizontal_dotted_line"></div> <br>
<div>
    <!-- Freundesliste -->
    <fieldset class="fsfriends">
        <ul class="listfriends">
            <p *ngFor="let friend of friendsArray" class="pfriends">
                <li> <a [routerLink]="['/chat']" (click)="chat(friend.username)"> {{ friend.username }}
                        <span class="listspanfriend">
                            {{ friend.unreadMessages }} </span> </a> </li>
            </p>
            <!-- hinzugefügte Freunde-->
            <p *ngFor="let friend for requestList" class="pfriends">
                <li> <a [routerLink]="['/chat']" (click)="chat(friend.username)">
                        {{ friend.username }} <span class="listspanfriend">
                            {{ friend.unreadMessages }} </span> </a> </li>
            </p>
        </ul>
    </fieldset>
</div>
<br>
<div class="horizontal_dotted_line"></div>

<!-- Freundesanfragen -->
<h2>New Requests</h2>

<ol>
    <!-- ersetzen durch Anfragen-->
    
    <li *ngFor="let friend of requestList, index as i"> <a id="lifriends">{{ i + 1 }} Friend request from <span
                id="spanfriends"> {{ friend.username }} </span> </a>
        <button class="acceptDeclineButton" type="button" (click)="acceptFriend()"> Accept </button>
        <button class="acceptDeclineButton" type="button" (click)="declineFriend()"> Decline </button>
    </li>
</ol>
<div class="horizontal_dotted_line"></div>

<!-- Freund hinzufügen -->
<form action="">
    <div>
        <input type="text" id="addfriend" list="namen" placeholder="Add friend to List" [(ngModel)]="inputUsername" name="FriendName">
        <datalist id="namen"></datalist>
        <Button id="addbutton" type="button" (click)="addFriendButton()">Add</Button>
    </div>
</form>
