fieldset > ul > p > li > a {
    color: black;
}
.acceptDeclineButton {
    background-color: rgb(243, 231, 211);
    color: rgb(165, 78, 78);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
    margin: 3px;
    border-color: rgb(48, 39, 39);
    border-style: double;
    border-width: 1px;
}
.acceptDeclineButton:hover {
    background-color: rgb(216, 204, 187);
}
